* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #201F1F;
}

main {
  display: none;
}

ul {
  list-style: none;
}

::selection {
  background-color: #C291F2;
  color: white;
}

.header {
  background-color: transparent;
  height: 80px;
  padding: 2rem calc((100vw - 1200px) / 2);
  display: block;
  display: none;
}
.header-mobile-icon {
  display: none !important;
  font-size: 1.5rem;
  color: white;
  z-index: 2;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
}
.header-logo {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.2s ease;
}
.header-logo:hover {
  color: #C291F2;
}
.header-navbar {
  display: flex;
  gap: 20px;
}
.header-navbar li {
  display: flex;
  align-items: center;
  height: 75px;
  transition: all 0.1s ease;
  cursor: pointer;
}
.header-navbar li:hover {
  border-bottom: 2px solid #C291F2;
}
.header-navbar li a {
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 768px) {
  .header-mobile-icon {
    display: block !important;
  }
  .header-navbar {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #201F1F;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    z-index: 1;
  }
  .header-navbar li {
    transform: translateX(-100vw);
  }
  .header-navbar li a {
    font-size: 1.7rem;
  }
}

.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  background-color: white;
}
.loader-text {
  font-size: clamp(2rem, 2.5vw, 5rem);
  color: #201F1F;
  font-family: "Luxurious Roman", cursive;
  letter-spacing: 8px;
  line-height: 3.6rem;
}

.hero {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 100px);
  text-align: center;
  flex-direction: column;
  padding: 1rem;
}
.hero-title {
  font-size: clamp(2rem, 3.5vw, 4rem);
  margin-bottom: 10px;
  margin-top: 50px;
}
.hero-desc {
  font-size: 1.2rem;
  font-weight: lighter;
  letter-spacing: 1.3px;
  margin-bottom: 5%;
}
.hero-img {
  width: 350px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media screen and (max-width: 768px) {
  .hero-img {
    width: 200px;
  }
}

.social {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1.5rem;
  position: absolute;
  top: 41%;
  left: 5%;
  align-items: center;
  justify-content: center;
}
.social-icon {
  color: white;
  transition: all 0.2s ease;
  transform: translateX(-100vw);
}
.social-icon:hover {
  color: #C291F2;
  margin: 5px 0;
  transform: scale(1.123);
}

.triangle {
  clip-path: polygon(95% 0, 100% 0, 100% 100%, 0 100%, 0 95%);
  background-color: #181818;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  height: 100%;
}

/*# sourceMappingURL=styles.css.map */
