@use '../config/variables';

.projects {
  width: 100%;
  padding: 6.7rem calc((100vw - 1350px) / 2);
  background-color: variables.$dark-2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-cards-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 0 1rem;
  }

  &-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    opacity: 0;
    gap: 25px;
    border: 1px solid variables.$purple-5;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all .3s ease;

    &:hover {
      box-shadow: 0 0 25px 2px  rgba(194,145,242,0.13);
      border-radius: 20px;
    }

    &-desc {
      width: 50%;

      h3 {
        color: white;
      }

      p {
        margin: 0 0 30px 0;
        color: variables.$dark-text;
        font-size: 1.1rem;

        a {
          color: variables.$dark-text;
          text-decoration: none;
          font-weight: bold;
          
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &-button-container {
      a {
        background-color: variables.$purple-5;
        color: variables.$dark-text;
        padding: .7rem 1.5rem;
        border-radius: 4px;
        text-decoration: none;
        margin-right: 20px;
        cursor: pointer;
        transition: all .4s ease;

        &:hover {
          background-color: variables.$dark-text;
          color: variables.$dark-2;
        }
      }
    }

    &-img {
      width: 50%;

      img {
        width: 100%;
      }
    }

    // 995

    @media screen and (max-width: 995px) {
      flex-direction: column;

      &-desc {
        width: 100%;

      }

      &-img {
        margin-top: 25px;
        width: 100%;
      }
    }

    @media screen and (max-width: 576px) {
      padding: 2.5rem;
    }
  }
}