@use '../config/variables';

.triangle {
  clip-path: polygon(95% 0, 100% 0, 100% 100%, 0 100%, 0 95%);
  background-color: variables.$dark-2;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  height: 100%;
}