@use '../config/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}


body {
  background-color: variables.$dark;
}

main {
  display: none;
}

ul {
  list-style: none;
}

::selection {
  background-color: variables.$purple-5;
  color: white;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  // user-drag: none;
}
